.variant-label,
.variant-value {
  font-size: 0.9em;
  font-style: normal;

  font-size: 11px;
  line-height: 120%;
  /* or 13px */

  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.variant-value {
  /* display: block; */

  font-weight: 400;
}
.variant-label {
  font-weight: 600;
}

.smallName {
  font-size: 0.8em !important;
  line-height: 110% !important;
}
h3.smallNameBox span {
  padding: 0.5rem !important;
}
h3.smallNameBox {
  font-size: 0.9em !important;
  line-height: 2.1em !important;
}
