.logoContainer {
  position: relative;
  /* border: 2px solid purple; */
  overflow: clip;
}
.customLogo {
  position: absolute;
  top: 0;
  left: 0;
}
.customerMenuIconLi {
  padding: 8px 2px 2px 6px;
}
#CustomerMenuContent {
  transform: translateY(560px);
}
@media screen and (max-width: 500px) {
  #CustomerMenuContent {
    transform: translate(-150px, 50px);
  }
}
.customDropdown {
  /* border: 2px solid green; */
  position: relative;
}
