.logoContainer {
  position: relative;
  /* border: 2px solid purple; */
  overflow: clip;
}
.customLogo {
  position: absolute;
  top: 0;
  left: 0;
}
#CustomerMenuContent {
  border: 2px solid lightcoral;
  /* position: fixed;
  top: 100px;

  right: 0; */
}

@media screen and (max-width: 500px) {
  #CustomerMenuContent {
    right: 50px;
  }
}
.customDropdown {
  border: 2px solid green;
  position: relative;
}
