.modifiers-dropdowns {
  margin-top: 1rem;
}
.modifiers-dropdowns select {
  padding: 1rem;
}
.quantityLabel {
  font-size: 1.2em;
  margin-right: 0.5rem;
}

#pdp-quantity {
  border: 1px solid lightgrey;
  padding: 0.4rem;
  font-size: 1em;
  margin: 0.8rem;
}

#quanAddContainer {
  margin: 0.5rem;
}

#shapeGuide p {
  margin-top: 0.8rem;
}
#shapeGuide ul {
  list-style-type: disc;
}

#shapeGuide ul li {
  margin-left: 30px;
}
